@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800&display=swap');

@import "tailwindcss";

body {
  font-family: "Outfit", ui-sans-serif, system-ui, sans-serif;
  background-color: #F1F1F1;
}

.hero-heading {
  font-size: clamp(3.5rem, 8vw, 9rem);
  line-height: 0.9;
  letter-spacing: -0.04em;
  font-weight: 500;
  text-transform: capitalize;
}